{
"cardview-heading": "go/arcs-dash 🌈",
"users": [
  {"user": "dstockwell", "email": "dstockwell@google.com", "github": "shans"},
  {"user": "shans", "email": "shans@google.com", "github": "dstockwell"},
  {"user": "mmandlis", "email": "mmandlis@google.com", "github": "mmandlis"},
  {"user": "sjmiles", "email": "sjmiles@google.com", "github": "sjmiles"},
  {"user": "mbsmall", "email": "mbsmall@google.com", "github": "smalls"},
  {"user": "seefeld", "email": "seefeld@google.com", "github": "seefeldb"},
  {"user": "noelutz", "email": "noelutz@google.com", "github": "noelutz"}
],
"dashes": [
  "cz-clock-dash",
  "cz-shields-dash(Arcs)",
  "cz-component-dash(Arcs)",
  "cz-shields-dash(Arcs CDN)",
  "cz-component-dash(Arcs CDN)"
],
"timezones": [
  {"city": "SF", "timezone": "US/Pacific"},
  {"city": "Vancouver", "timezone": "US/Pacific"},
  {"city": "Sydney", "timezone": "Australia/Sydney", "local": true}
],
"github": {
  "Arcs": {
    "name": "Arcs",
    "repo": "PolymerLabs/arcs",
    "shields": [
      "travis",
      "github/issues-pr",
      "github/issues"]
  },
  "Arcs CDN": {
    "name": "Arcs CDN",
    "repo": "PolymerLabs/arcs-cdn",
    "shields": [
      "travis",
      "github/issues-pr",
      "github/issues"]
  }
},
"updateSLO": {
  "daily": "1",
  "weekly": "7",
  "fortnightly": "14",
  "monthly": "30"
},
"issue-sources": {
  "Arcs": {
    "tag": "cz-github-issues",
    "query": {"repo": "PolymerLabs/arcs"}
  },
  "Arcs CDN": {
    "tag": "cz-github-issues",
    "query": {"repo": "PolymerLabs/arcs-cdn"}
  }
}
}
